.ItemCard{
    margin: 10px;
    width: auto;
}

.ItemCardImg{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.ItemCardDetails{
    text-align: left;
}

p{
    margin: 5px 0;
}